:root {
  --text-color-dark-blue: #1c4464;
  --color1: #265450;
  --color2: #357b70;
  --color3: #07464b;
  --color4: #1f4133;
  --color5: white;
  --background-color: #fff8ed;
  --border-buttom-color: rgba(0, 0, 0, 0.3);
  --background-color1: rgba(0, 0, 0, 0.5);
  --background-color2: #e0e0e0;
  --fill-color1: hsl(0, 0%, 0%);
  --fill-color2: hsl(0, 100%, 43%);
  --fill-color3: hsl(48, 100%, 50%);
  --fill-color4: #a80800;

}

body {
     /* Font */
  --font-family: "Source Sans 3", sans-serif;
  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-medium: 18px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;
  --font-weight: 700;
  --line-height: 1.4;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: var(--h-font-weight);
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: var(--h-font-weight);
  }
  nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
  }
  table {

    font-family: 'Montserrat', sans-serif;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    

  }
  /* Links*/
  a {
    color: var(--primary-color);
  }
  
  a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration:none;
  }
  a:visited {
    /* visited link */
    color: var(--secondary-color);
  }
  
  a:active {
    /* selected link */
    color: #489c79;
  }
  
  .navigation-list__item--active {
    text-decoration: none;
  }
  div {
    padding: 10px; /* Adds a 10px inner spacing to all sides*/
    margin: 10px; /* Adds a 10px outer spacing to all sides*/
    border: none /* Attributes describe: thickness, type, color*/
  }
  .social-media {
    border: none;
  }
  .profile__portrait {
    float: left;
    width: 220px;
    margin-right: 40px;
    border-radius: 50%;
  }
  .page-footer {
    clear: both;
    display: flex;
    text-align: center;
    flex-direction:column;
  }
  .profile {
    max-width: 700px;
    margin: 0 auto;
  }
  * {
    box-sizing: border-box;
  }
  .profile__text {
    flex: 1 1 100px;
}
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.grid {
  display: grid;
}
/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }
 /* end grid fallback */
 
 @supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
 
  }
  .grid__item {
    background-color: rgb(246, 217, 245);
    width: auto;
    min-height: auto;
    margin: 0;
  }
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
 }
 /* 3 column grid to 1 column */

 @media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--primary-color); 
    color: var(--dark-grey);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;

}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
#button__cv {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  }
/* in the about page */
.table1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.aboutdiv {
  text-align: center;
}
.aboutfacts {
  display: inline-block;
  text-align: left;
}

.plant, .plant1 {
  animation: 1.5s plant-move infinite alternate linear;
  color:var(--dark-grey)
  
  }
  
  #plants {
    display: block;
    margin: auto;
  }
  
  
  @keyframes plant-move {
    from {
      transform: scale(1.01);
    }
  }

